.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2em;
    background-color: #ffffff;
}

.section2 h3{
    font-family: Arizona;
    font-weight: 600;
    color: #372580;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1.4px;
    text-align: center;
    margin: 0.5em;

}
.card_set{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
    width: 90%;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 1em;
    background-color: #f5f6f7;
    border-radius: 8px;
    width: 400px;
    height: 240px;
}

.card img{
    width: 48px;
    height: 48px;
}

.card h3{
    font-family: Arizona;
    font-style: normal;
    color: #372580;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.6px;

}

.card p{
    font-family: Inter;
    font-style: normal;
    color: #4B5563;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;

}

.section3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

.section3 article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    margin-top: 4em;
}

.section3 .table_set{
    width: 70%;
}