.h-40px{
    height: 40px;
}

header a {
    color: #6d4aff;
    font-size: 16px;
    font-weight: semi-bold;
    font-family: Inter;
}

.bg-section-1{
  background-color: #f7f5ff;
}
.button-bg-1{
   background-color: #6d4aff;
}

.text-white{
    color: white;
}

.p4{
    padding: 4px;
}
header a span{
    color: #876aff;
}
.p1{
    font-size: 12px;
    color:#6d4aff;
    margin: 1em;
    text-align: center ;
}